<settings>
	<category label="[COLOR red][B]As Minhas Listas[/B][/COLOR]">
		<setting label="[B]Minha M3U Online[/B]" type="text"  id="pessoal_m3u" default="" />
		<setting label="[B]Minha M3U Local[/B]" type="file"  id="pessoal_local_m3u" default="" />
		<setting type="sep" />
		<setting label="[B]Minha XML Online[/B]" type="text"  id="online_xml" default="" />
		<setting label="[B]Minha XML Local[/B]" type="file"  id="local_xml" default="" />
	</category>
	<category label="[COLOR red][B]Listas myIPTVChannels[/B][/COLOR]">
		<setting label="[B]MUSICA[/B]" type="text"  id="online_m3u" default="http://bit.ly/1IxL5qr" />
		<setting label="[B]FILMES[/B]" type="text"  id="filmes_m3u" default="http://bit.ly/1mlrIqg" />			
		<setting label="[B]INFANTIL[/B]" type="text"  id="infantil_m3u" default="http://bit.ly/1mJjjgR" />
		<setting label="[B]NASA[/B]" type="text"  id="nasa_m3u" default="http://bit.ly/1Jbsz7e" />
		<setting label="[B]NOTICIAS[/B]" type="text"  id="noticias_m3u" default="http://bit.ly/1YLrGnQ" />
		<setting label="[B]PORTUGAL[/B]" type="text"  id="pt_m3u" default="http://bit.ly/1QQKXoN" />
		<setting label="[B]RADIOS[/B]" type="text"  id="ru_m3u" default="http://bit.ly/22J3UO8" />
		<setting label="[B]DESPORTO[/B]" type="text"  id="desporto_m3u" default="http://bit.ly/1NSnvl5" />
		<setting label="[B]SERIES[/B]" type="text"  id="series_m3u" default="http://bit.ly/1ZwhamC" />
		<setting label="[B]INTERNACIONAL[/B]" type="text"  id="inter_m3u" default="http://bit.ly/1Q19PsP" />	
		<setting label="[B]PRAIAS[/B]" type="text" id="praias_m3u" default="http://bit.ly/1JbsHUl" />
		<setting label="[B]DES. MOTORIZADO[/B]" type="text" id="motor_m3u" default="http://bit.ly/1VEt51o" />		
	</category>
	<category label="[COLOR red][B]Listas Externas[/B][/COLOR]">
		<setting label="[B]TV ALGAS[/B]" type="text"  id="algas_m3u" default="http://bit.ly/1Vo6Nlj" />
		<setting label="[B]KITINA[/B]" type="text"  id="kitina_m3u" default="http://bit.ly/1PjhM7R" />
		<setting label="[B]MARTUNIS[/B]" type="text"  id="martunis_m3u" default="http://bit.ly/1OVblHJ" />
		<setting label="[B]ARGIVAI[/B]" type="text"  id="argivai_m3u" default="http://bit.ly/1RyDB81" />
		<setting label="[B]IPTVBRASILHD[/B]" type="text"  id="iptvbrasil_m3u" default="http://bit.ly/1UsXQqA" />
		<setting type="sep" />
		<setting label="[B]Changelog[/B]" type="text" visible="false" id="log_m3u" default="http://pastebin.com/raw/sdM3jLt4" />
		</category>
</settings>