<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="Tipos de vista">
      <setting label="Definições de vista:" type="lsep" />
     <setting id="menuView" type="enum" label="Vista de Menu" values="Lista|Lista Grande" default="0"/>
     <setting id="episodiosView" type="enum" label="Vista de episodios" values="Lista|Lista Grande|Miniatura|Media Info 1|Media Info 2|Media Info 3" default="2"/>
   </category>
</settings>
